<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сервис прогноза погоды</title>
</head>
<body>
<h1>Сервис прогноза погоды</h1>
<p>Введите координаты начальной и конечной точек для получения прогноза погоды.</p>
<form action="/weather" method="POST">
    <label for="lat_st">Широта начальной точки:</label><br>
    <input type="text" id="lat_st" name="lat_st" required><br>
    <label for="lon_st">Долгота начальной точки:</label><br>
    <input type="text" id="lon_st" name="lon_st" required><br><br>

    <label for="lat_end">Широта конечной точки:</label><br>
    <input type="text" id="lat_end" name="lat_end" required><br>
    <label for="lon_end">Долгота конечной точки:</label><br>
    <input type="text" id="lon_end" name="lon_end" required><br><br>

    <input type="submit" value="Получить прогноз">
</form>
</body>
</html>
